/* Global page styles */
.group-page {
  width: 100%;
  max-width: 960px;
  margin: 40px auto;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  background-color: #121212; /* Dark background for the whole page */
}

.message-header {
  color: #cccccc; /* Light grey color for the sender's name */
  font-size: 0.85em; /* Smaller font size than the message text */
  margin-bottom: 5px; /* Space between the sender's name and the message text */
}

.goBackButton {
  background-color: #0d6efd;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 20px;
}

.group-info-container {
  text-align: center;
  margin-bottom: 20px;
}

.group-name, .group-description {
  color: #cccccc;
}

/* Chat container and messages */
.chat-container {
  border: 1px solid #333333;
  padding: 20px;
  border-radius: 10px;
  background: #222222; /* Uniform dark background for the chat container */
  max-height: 600px;
  overflow-y: auto;
  
}

.message {
  color: #fff; /* White text color for better readability */
  padding: 5px 10px; /* Reduced vertical padding */
  margin-bottom: 8px;
  border-radius: 5px;
  background: #222222; /* Ensure uniform background with the container */
  max-width: 60%; /* Width limitation for better appearance */
  display: flex;
  flex-direction: column;
}

.sent {
  margin-left: auto;
  background: #333333; /* Slightly different background for sent messages */
  box-shadow: -1px 2px 5px rgba(13, 110, 253, 0.2); /* Subtle shadow for sent messages */
  align-self: flex-end;
}

.received {
  margin-right: auto;
  background: #2c2f33; /* Slightly different background for received messages */
  box-shadow: 1px 2px 5px rgba(44, 47, 51, 0.2); /* Subtle shadow for received messages */
  align-self: flex-start;
}

/* Message content and metadata styling */
.message-content {
  color: #ffffff; /* White text color */
}

.message-meta {
  font-size: 0.75em;
  color: #777777;
  text-align: right;
  margin-top: 5px;
}

/* Post form styling */
.post-form {
  display: flex;
  border-top: 1px solid #333333;
  padding-top: 10px;
}

.post-form input[type="text"], .post-form button {
  border: none;
  padding: 10px;
  margin-right: 5px;
}

.post-form input[type="text"] {
  flex-grow: 1;
  background-color: #333333;
  color: #dddddd;
}

.post-form button {
  background-color: #0d6efd;
  color: white;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #e0e0e0;
  background-color: transparent;
}
.text {
  background-color: transparent;
  margin: 0;
  flex-grow: 1; /* Allows text to fill the space */
  overflow: hidden; /* Prevents text overflow */
  white-space: nowrap; /* Keeps text in a single line */
  text-overflow: ellipsis; /* Adds ellipsis if text is too long */
}
.message-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2{
  background-color: transparent;
  margin-bottom: 10px;
}
.message-header {
  font-size: 0.85em;
  color: #f4b300;
  width: 100%; /* Ensures the header is full width */
}