/* Global Styles for Auth Forms */
.signup-wrapper, .login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* Dark gradient background */
}

.signup-left, .login-left, .signup-right, .login-right {
  flex: 1;
  color: white; /* Ensures text is readable on dark backgrounds */
  margin: 50px; /* Provides ample spacing */
}

.signup-form, .login-form {
  background: #333; /* Dark background for the form */
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

.input-group input, .input-group label {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #222; /* Slightly lighter shade for input fields */
  color: #fff; /* White text for contrast */
  border: 1px solid #555; /* Subtle borders */
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.input-group input:focus, .input-group input:hover {
  border-color: #007BFF; /* Bright focus color */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.8); /* Soft glow effect */
}

.input-group label {
  position: absolute;
  left: 10px;
  top: -10px; /* Adjust based on your specific padding/margin */
  background: #333; /* Background to match form */
  padding: 0 5px; /* Padding to ensure background covers text */
  transition: all 0.3s ease;
  color: #bbb; /* Lighter text for labels */
}

.login-button, .signup-button, .show-password-button {
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #007BFF; /* Consistent button color */
  color: white; /* Text color for readability */
}

.login-button:hover, .signup-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
  box-shadow: 0 0 8px rgba(0, 56, 179, 0.8); /* Glow effect */
}

.show-password-button {
  background: transparent;
  border: none;
  color: #007BFF;
  cursor: pointer;
  transition: color 0.3s ease;
}

.show-password-button:hover {
  color: #0056b3;
}

h2 {
  color: #eee; /* Lighter color for headers */
  text-align: center;
  margin-bottom: 20px;
}

/* Additional styles to ensure responsiveness and padding adjustments */
.signup-form, .login-form {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadows for depth */
}

/* Input placeholder invisible when focused or having value */
.input-group input::placeholder {
  color: transparent;
}

.input-group input:not(:placeholder-shown) + label,
.input-group input:focus + label {
  color: #007BFF; /* Highlight label color when active/focused */
}

.login-button{
  margin-bottom: 5px;
}